body{
    width: 99%;
    height: 99%;
    /* background-color: red; */

}
.meniu-dropdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: sticky;
    width: 100%;
    height: 100%;
}

.buton-meniu{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    width: 20%;
    height: 20%;
    background-color: rgb(255, 145, 0);
    color: blanchedalmond;
    padding:16px;
    font-size: 16px;
    border:none;
     
}

.content-meniu{
    width: 20%;
    height: 20%;
    display: none;
    align-self: center;
    justify-self: center;
    position: absolute;
    top:50px;
    background-color: #e6cfcf;
    z-index: 1;
}

.content-meniu a:hover{
    background-color: aqua;
    
}
.meniu-dropdown:hover .content-meniu{
    display: flex;
    /* position: relative; */
    /* display: block; */
    flex-direction: column;
}

.content{
    /* position: absolute; */
    display: block;
    z-index: 0;
}